exportPattern("^[[:alpha:]]+")
importFrom('plotrix',thigmophobe.labels)
importFrom("grDevices", "colors")
importFrom("graphics", "axis", "box", "legend", "par", "plot","points")
importFrom("stats", "spline", "splinefun")
importFrom("utils", "head", "tail")
 importFrom("graphics", "lines")